.login-container {
  background: linear-gradient(to right, #8a2be2, #4c167c);
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;


  .login-wrapper {
    background-color: #fff;
    width: 400px;
    max-width: 90%;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .heading {
      text-align: center;
      color: #8a2be2;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 2rem;
    }

    .input-wrapper {
      margin-bottom: 1.5rem;

      label {
        display: block;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: #8a2be2;
      }

      input {
        width: 100%;
        padding: 0.75rem;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }

  }

  p {
    color: red;
    margin-bottom: 10px;
  }

  button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: #8a2be2;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken(#8a2be2, 10%);
    }
  }
}

@media (max-width: 600px) {
  .login-wrapper {
    width: 100%;
  }
}