.clearbtn-container {
    position: relative;
    left: 10px;
    bottom: 20px;
    border-color: 1px solid #ddd;

    .clear-btn-search { 
        position: absolute;
        margin-top: 5px;
        z-index: 300;
    }
    
    .clear-btn-clear {
        position: absolute;
        z-index: 300;
    }

    @media (max-width: 1024px) {
        .clear-btn-search { 
            margin-top: 0;
        }
        
        .clear-btn-clear {
            position: absolute;
            margin-top: -5px;
            z-index: 300;
        }
    }
}





.ddl-filter select {
    height: 46px;
    width: 150px;
    padding-left: 15px;
    font-size: 16px;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-right: -5px;
    position: relative;
    z-index: 200;
    color: gray;
    cursor: pointer;
}

.ddl-filter select option {
    font-size: 20px;
}

.filterbtn{
    position: absolute;
    margin: 0;
    z-index: 300;
}

.input-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1rem;
    width: 100%;
    margin-bottom: 1rem;

    @media (max-width: 1024px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 1rem;

        input{
            margin-bottom: .5rem;
        }
    }

    .filt-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        input {
            height: 50px;
            width: 100%;
            padding-left: 60px;
            font-size: 16px;
            outline: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #fff;
        }
    }

    button {
        width: fit-content;
        align-items: center;
        display: flex;
        padding: .5rem;
        height: 50px;
        position: relative;
        border-radius: 5px;
        margin: 0;
        border: 1px solid #ccc;
        background-color: #fff;
        transition: ease-in-out .3s;

        .icon{
            margin-right: 5px;
        }

    

        &:hover {
            cursor: pointer;
            background-color: #8a2be2;
            color: #fff;
        }
    }
}



