.clearbtn-container {
    position: relative;
    left: 10px;
    bottom: 20px;
    border-color: 1px solid #ddd;
}

.clear-btn-search { 
    position: absolute;
    margin-top: 5px;
    z-index: 300;
}

.clear-btn-clear {
    position: absolute;
    z-index: 300;
}

.ddl-filter select {
    height: 46px;
    width: 150px;
    padding-left: 15px;
    font-size: 16px;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-right: -5px;
    position: relative;
    z-index: 200;
    color: gray;
    cursor: pointer;
}

.ddl-filter select option {
    font-size: 20px;
}

.filterbtn{
    position: absolute;
    margin: 0;
    z-index: 300;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .filt-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        input {
            height: 50px;
            width: 100%;
            padding-left: 60px;
            font-size: 16px;
            outline: none;
            border: none;
            border: .5px solid #ddd;
            background-color: #fff;
        }
    }

    button {
        width: 50px;
        height: 50px;
        z-index: 1200;
        position: absolute;
        right: 0;
        top: 0;
        border: .5px solid #ddd;
        background-color: #fff;
        margin-left: 10px;

        &:hover {
            cursor: pointer;
            background-color: #8a2be2;
            color: #fff;
        }
    }
}



