#report-container{
    border-radius: 10px;
    width: 95%;
    margin: 40px auto;
}

.report-wrapper{
    border-radius: 10px;
    width: 95%;
    margin: 40px auto;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #e5e8ed;
}

.report-item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    margin: auto;
}

.report-item-active{
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    margin: auto;
}

.report-item:hover{
    cursor: pointer
}

.report-item-nb{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
}

.report-item-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: grey;
}

.report-item-wrapper h4{
    font-size: larger;
    margin-bottom: 10px;
}

.report-item-wrapper h1{
    color: #68bd45;
}