.table-container {
    width: 100%;
    height: fit-content;
    padding-bottom: 50px;
}

.stakeholder-table {
    width: 95%;
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.stakeholder-table thead {
    height: 80px;
    padding: 50px;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.stakeholder-table thead th{
    padding: 20px;
    text-align: center;
    letter-spacing: 0.1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: gray;
}

.stakeholder-table tbody {
    font-size: 0.9rem;
}

.stakeholder-table tbody tr {
    height: 80px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

.stakeholder-table tbody tr:hover {
    background-color: #ddd;
    cursor: pointer;
    align-items: center;
}

.stakeholder-table td {
    text-align: center;
    padding: 1em 10px;
}

.stakeholder-table .td-name {
    text-align: left;
}

.clearbtn-container {
    position: relative;
    right: 50px;
    bottom: 20px;
}

.clear-btn-search {
    position: absolute;
    margin-top: 5px;
    z-index: 300;
}

.clear-btn-clear {
    position: absolute;
    z-index: 300;
}

.ddl-filter select{
    height: 46px;
    width: 130px;
    padding-left: 15px;
    font-size: 16px;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-right: -5px;
    position: relative;
    z-index: 200;
    color: gray;
    cursor: pointer;
}

.ddl-filter select option{
    font-size: 20px;
}

.input-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25px;
    width: 95%;
}

.input-container input{
    height: 44px;
    width: 50%;
    padding-left: 15px;
    font-size: 16px;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    position: relative;
    z-index: 100;
}