.master-spacer{
    height: 40px;
}

.master-table {
    width: 95%;
    margin: auto;
    border-collapse: collapse;
}

.master-table thead {
    height: 80px;
    padding: 50px;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: #fff;
}

.master-table thead th{
    padding: 20px;
    text-align: center;
    letter-spacing: 0.1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: gray;
}

.master-table tbody {
    font-size: 0.9rem;
}

.master-table tbody tr {
    height: 80px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.master-table tbody .active-tr {
    height: 80px;
    border: 1px solid #ddd;
}

.master-table tbody .nonactive-tr {
    height: 80px;
    border: 1px solid #ddd;
    opacity: .2;
}


.master-table tbody tr:hover {
    background-color: #e5e8ed;
    cursor: pointer;
    align-items: center;
}

.master-table td {
    text-align: center;
    padding: 1em 10px;
}

.master-table .td-name {
    text-align: left;
}