.relations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: auto;
    background-color: #fff;
    padding-right: 2.5%;

    h3 {
        height: 90px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ul {
        height: 890px;
        width: 100%;
        list-style-type: none;
        display: inline-block;
        padding-left: 0;
        padding: 5px 20px;
        overflow-y: auto;

        .link {
            margin: auto;
            font-size: 12px;
            text-decoration: none;

            li {
                width: 100%;
                height: fit-content;
                color: gray;
                text-align: left;
                background-color: #fff;
                padding: 20px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                border-radius: 5px;
                margin-bottom: 10px;
                display: grid;
                grid-template-rows: auto auto auto auto;

                h3 {
                    margin: 0 auto;
                    display: flex;
                    justify-content: flex-start;
                    height: fit-content;
                    /* border-bottom: 3px solid red; */
                }

                a {
                    display: flex;
                }

                &:hover {
                    cursor: pointer;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    transform: scale(1.01);
                }

                .info-wrapper {
                    height: fit-content;
                    margin: auto;
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    grid-template-columns: 10% 90%;
                    margin: 10px 0;
                }
            }
        }
    }
}