.relations-container {
  height: fit-content;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 1rem;

  p {
    font-size: 14px;
    color: #666;
    font-style: italic;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .missing-info-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: .5rem;

    li {
      color: red;
      width: 100%;
      /* Set text color for missing info items */
      font-weight: bold;
      /* Make the text bold */
      padding: 0.2rem 0;
      /* Add some spacing between items */
      font-size: .75rem;
      margin-bottom: .5rem;

      &:before {
        content: '• ';
        /* Add a bullet point before each item */
      }
    }
  }

  .column-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #ddd;

    h3 {
      margin: 0;
      font-size: 1.25rem;
      color: #333;
    }

    svg {
      font-size: 1.5rem;
      color: #8a2be2; // Icon color
    }
  }

  .link {
    text-decoration: none;
    color: #0077b6;
    transition: color 0.2s;

    &:not(:first-child) {
      margin-top: .5rem;
    }
    

    &:hover {
      color: #ff6b6b;
    }
  }
}

.relation-wrapper {
  height: fit-content;
  padding: .5rem;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }

  /* Card Styles */
  .stakeholder-item {
    background-color: #f8f8f8;
    /* Light gray background */
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 1rem;
    margin-top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    height: 100%; /* Make all items the same height */


    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    h3 {
      font-size: 1rem;
      /* Slightly larger font size */
      color: #333;
      font-weight: bold;
      /* Added font-weight for better readability */
    }

    .info-wrapper {
      display: grid;
      align-items: center;
      margin-top: 0.5rem;
      

      /* Badge Styles */
      .badge {
        background-color: #8a2be2;
        /* Purple color */
        color: #fff;
        padding: 0.25rem 0.5rem;
        border-radius: 4px;
        margin-right: 0.5rem;
        font-weight: bold;
        /* Added font-weight for better visibility */
      }

      ag {
        color: #8a2be2;
        font-weight: bold;
        margin-right: 1rem;
      }

      a {
        color: #888;
        font-weight: 500;
        transition: color 0.2s;

        &:hover {
          color: #8a2be2;
          /* Purple color on hover */
        }
      }
    }

    .icon {
      font-size: 1.5rem;
      /* Slightly larger icon size for better visibility */
      margin-right: 0.5rem;
      color: #8a2be2;
      /* Purple color for icons */
    }
  }
}

@media screen and (max-width: 767px) {
  .missing-info-list {
    display: block;
    /* Display as a list on mobile */
  }
}
