.relations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 800px;
    margin: auto;
    overflow: auto;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.relations-container ul {
    height: 90%;
    width: 100%;
    list-style-type: none;
    display: inline-block;
    padding-left: 0;
    overflow-y: auto;
}

.relations-container ul li {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 10px;
    width: 90%;
    height: fit-content;
    min-height: 200px;
    color: gray;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.relations-container ul li:hover{
    cursor: pointer;
    background-color: #ddd;
    color: #fff;
}

.relations-container ul li h3 {
    padding: 20px;
}

.relations-container ul li a {
    display: flex;
}

.relation-info{
    display: grid;
    grid-template-columns: 10% 90%;
}

.info-wrapper{
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 10% 90%;
    margin: 10px auto;
}

.relation-link {
    height: 10px;
    margin: auto;
    font-size: 12px;
    text-decoration: none;
}

