.relations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 800px;
    margin: auto;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: #fff;
}

.relations-container ul {
    height: 100%;
    width: 100%;
    list-style-type: none;
    display: inline-block;
    padding-left: 0;
    overflow-y: auto;
}

.relations-container ul li {
    margin: 20px auto;
    border-radius: 10px;
    width: 90%;
    height: fit-content;
    min-height: 160px;
    color: gray;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #fff;
    /* transition: ease-in-out .2s; */
}

.relations-container ul li:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.01);
}

.relations-container ul li h3 {
    margin: 0 20px;
    padding: 5px 0;
    /* border-bottom: 3px solid red; */
}

.relations-container ul li a {
    display: flex;
}

.relation-info {
    display: grid;
    grid-template-columns: 10% 90%;
}

.info-wrapper {
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 10% 90%;
    margin: 10px 20px;
}

.relation-link {
    height: 10px;
    margin: auto;
    font-size: 12px;
    text-decoration: none;
}

.relations-container label {
    margin-top: 35px;
    margin-left: 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: gray;
    width: 90%;
}