.tract-table-container {
    width: 100%;
    height: fit-content;
    padding-bottom: 50px;

    .tract-table {
        width: 95%;
        margin: auto;
        border-collapse: collapse;

        thead {
            height: 100px;
            text-align: center;
            position: sticky;
            top: 0;
            background-color: #fff;

            tr {
                position: relative;
                color: grey;
                background-color: #fff;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

                th {
                    padding: 20px;
                    text-align: center;
                    letter-spacing: 0.1rem;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
        }

        tbody {
            font-size: 0.9rem;

            tr {
                height: 80px;
                padding: 50px;
                background-color: #fff;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

                td {
                    text-align: center;
                    padding: 1em 10px;

                    &.tract {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 140px;
                        height: 80px;

                        h2 {
                            color: #68bd45;
                        }
                    }

                    .highlight {
                        color: #5B8A5F;
                        background-color: #C1E3C4;
                        border-radius: 10px;
                        padding: 10px;
                    }

                    input {
                        padding: 10px;
                        border: 1px solid #ddd;
                        border-radius: 20px;
                        height: 20px;
                        width: 50px;
                        text-align: center;
                    }

                    textarea {
                        resize: none;
                        height: 60px;
                        padding: 10px;
                        border: 1px solid #ddd;
                        border-radius: 10px;
                        font-size: 14px;

                        &.structure {
                            width: 100px;
                            height: 40px;
                            text-align: center;
                        }

                        &.comment {
                            width: 300px;
                            height: 80px;
                        }
                    }

                    select {
                        padding: 10px;
                        border: 1px solid #ddd;
                        text-align: left;
                        border-radius: 20px;
                        height: 40px;
                        width: 80px;

                        option {
                            font-size: 16px;
                        }
                    }

                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: auto;

                        width: 80px;
                        height: 40px;
                        border: none;
                        border-radius: 5px;
                        color: #fff;
                        background-color: #68bd45;

                        &:hover {
                            cursor: pointer;
                            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                            transform: scale(1.1);
                        }
                    }
                }
            }

            .blank-space {
                height: 80px;
            }
        }
    }
}