.analytics-container{
    background-color: red;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .grid{
        height: 1000px;
        width: 1000px;
        background-color: blue;

        display:  grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "qw qw"
        "qe qr" 
        "qt qt";

        .item-one{
            grid-area: qw;
            height: 100%;
            width: 100%;
            background-color: rebeccapurple;
        }
        
        .item-two{
            grid-area: qe;
            height: 100%;
            width: 100%;
            background-color: green;
        }

        .item-three{
            grid-area: qr;
            height: 100%;
            width: 100%;
            background-color: yellow;
        }

        .item-four{
            grid-area: qt;
            height: 100%;
            width: 100%;
            background-color: white;
        }

    }
}