.forum-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;

  .column-wrapper {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      grid-gap: 0;
    }
  }

  .forum-wrapper {
    display: flex;
    flex-direction: column;

    @media (max-width: 1024px) {
      display: flex;
      flex-direction: column;
    }
  }

  .stakeholder-column,
  .location-column,
  .contact-column,
  .consultation-column,
  .delivery-column {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 1rem;

    .column-header {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      border-bottom: 1px solid #ddd;
  
      h3 {
        margin: 0;
        font-size: 1.25rem;
        color: #333;
      }
  
      svg {
        font-size: 1.5rem;
        color: #8a2be2; // Icon color
      }
    }

    .ddl-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;

      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
      }

      .ddl-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;

        select {
          width: 100%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 14px;
          flex-grow: 1;
          background-color: #fafafa;
        }
      }

      label {
        font-size: 14px;
        color: #666;
        display: flex;
        text-align: left;
        margin-bottom: .5rem;
      }
    }

    .input-container {

      &-column {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media (max-width: 768px) {
          display: flex;
          flex-direction: column;
        }
      }

      &-single {
        display: flex;
        flex-direction: column;
      }

      &-column,
      &-single {
        .input-wrapper {
          padding: .5rem;



          .label-wrapper {
            display: flex;
            justify-content: space-between;

            button {
              padding: 4px 8px;
              background-color: #fff;
              color: #8a2be2;
              border: none;
              font-size: 14px;
              font-weight: 500;
              cursor: pointer;
              transition: background-color 0.2s ease-in-out;

              &:hover {
                background-color: #f3e9fc;
              }
            }
          }

          label {
            font-size: 14px;
            color: #666;
            display: flex;
            text-align: left;
            margin-bottom: .5rem;
          }

          textarea,
          input {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
            resize: none;
            background-color: #fafafa;
          }

          textarea {
            height: 100px;
          }

          select {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
            flex-grow: 1;
            background-color: #fafafa;
          }
        }
      }
    }
  }

  // Mobile responsiveness
  @media screen and (max-width: 767px) {

    .stakeholder-column,
    .location-column,
    .contact-column,
    .consultation-column,
    .delivery-column {
      flex: 0 0 100%;
    }
  }


}

.heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #8a2be2;
  height: 80px;
  text-align: left;
  overflow: hidden;
  // position: sticky;
  // top: 0px;
  padding: 0 20px;
  margin-bottom: 1rem;

  h3 {
    text-align: left;
    margin: 0 20px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .btn-wrapper {
    display: flex;

    button {
      background-color: #8a2be2;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      margin-left: 1rem;

      &:hover {
        background-color: #6927a9;
      }

      &.inactive {
        background-color: #ccc;
        cursor: not-allowed;
        pointer-events: none;

        /* To prevent click events on the inactive button */
        &:hover {
          background-color: #ccc;
        }
      }
    }

    /* Additional styles for .save-inactive class */
    button.save-inactive {
      /* Add your specific styles for the inactive Save button here */
      background-color: #ccc;
      cursor: not-allowed;
      pointer-events: none;
      /* To prevent click events on the inactive button */
      color: #fff;
      /* Change text color for inactive button if needed */
      /* Add any other styles you want for the inactive Save button */
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 20px;

    h3 {
      margin: 10px 0;
      white-space: normal;
    }

    .btn-wrapper {
      margin-top: 20px;
      justify-content: flex-start;
    }
  }
}