.app-container {
  padding: 0;
  height: fit-content;
  width: 100%;
  background-color: #E8E8E8;


  label {
    font-size: 14px;
    color: #666;
    display: flex;
    text-align: left;
  }

}

.app-body {
  background-color: #E8E8E8;
  display: flex;
  flex-direction: column;
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}