.table-container {
    width: 100%;

    label {
        color: grey;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 20px;
        font-style: italic;
    }

    .stakeholder-table {
        width: 100%;
        margin: 0;
        border-collapse: separate;
        border-spacing: 0;
        background-color: #fff;
        border-radius: 5px;

        thead {
            height: 60px;
            position: sticky;
            top: 0px;
            background-color: #ddd;
            color: grey;

            button {
                border-radius: 50px;
                height: 40px;
                width: 40px;
                border: none;
                color: grey;

                &:hover {
                    color: #fff;
                    background-color: #68bd45;
                    cursor: pointer;
                }
            }

            th {


            }
        }

        tbody {
            font-size: 0.9rem;
            width: 95%;

            tr {
                height: 100px;
                background-color: #fff;

                &:nth-child(even) {
                    background: #F7F7F7
                }

                &:hover {
                    background-color: #e5e8ed;
                    cursor: pointer;
                }

                .status-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 150px;
                }
            }

            td {
                text-align: left;
                padding: 1em 10px;

                &.name-wrapper {
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                }

                &.location-wrapper {
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                }

                .icon {
                    margin-bottom: 10px;
                }


            }
        }
    }
}